@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
*{
    padding:0;
    margin:0;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
}   
.head{
    display: flex;
    justify-content:space-around;
    background-color: black;
    padding: 30px; 
      
}
body{
    background-image: url("Без\ имени-1.jpg");
}
h1{
    font-size: 50px;
}
a{
    color:white;
    text-decoration:none;
    display: flex;
}
.profile_photo{
    width: 350px;
    border-radius: 25px;
    transition: 0.2s;
    border:none;
}
.profile_photo:hover{
    transition:0.2s; 
    transform: scale(1.1);
    box-shadow: 2px 30px 40px rgba(0,0,0,0.5);
}
.about_me{
    font-size: 22px;
    color: white;
    background-color: rgba(0,0,0,0.7);
    width:400px;
    align-items: center;
    font-weight: bold;
    border-radius: 8px;
    padding:10px 0 10px 0;;
    transition:0.2s; 
    padding:20px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    flex-direction: column;
    
}
.about_me:hover{
    transform: scale(1.1);
    box-shadow: 2px 30px 40px rgba(0,0,0,0.5);
    cursor:pointer;
}
.main_info{
    display: flex;
    align-items: center;
    transition:0.2s;
    justify-content:space-evenly;
    margin-top:40px;
    padding:0 500px 0 500px
}
.hard_skills{
    font-size: 22px;
    color: white;
    background-color: rgba(0,0,0,0.7);
    width:400px;
    font-weight: bold;
    border-radius: 8px;
    transition:0.2s;
    padding:20px;
    justify-content: center;
}
.hard_skills:hover{
    transform: scale(1.1);
    box-shadow: 2px 30px 40px rgba(0,0,0,0.5);
    cursor:pointer;
}
.tools{
    font-size: 22px;
    color: white;
    background-color: rgba(0,0,0,0.7);
    width:400px;
    text-align: center;
    align-items: center;
    font-weight: bold;
    border-radius: 8px;
    padding:10px 0 10px 0;;
    transition:0.2s; 
    padding:20px
}
.tools:hover{
    transform: scale(1.1);
    box-shadow: 2px 30px 40px rgba(0,0,0,0.5);
    cursor:pointer;
}
p{
    color:white;
    margin-left: 10px;
}
.links{
    font-size:50px;
    display:flex;
    justify-content:space-between;
}
.bio h1{
    margin-bottom: 10px;
    text-align: center;
    text-decoration:underline;
}
.cont{
    width:450px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top:20px;
    margin-left:60px;
    color:white;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
}
.number_info{
    width: 100%;
    height: 300px;
    color:black
}
.bio{
    display: flex;
    justify-content: space-around;
    margin-top:35px;
    align-items:baseline;
}
.phone{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 40px;  
    margin-top: 30px; 
}
.phone span{
    font-size: 30px;
}
.fa-linkedin{
    padding-left:30px;
}
.fa-github:hover{
    cursor:pointer
}
.fa-telegram:hover{
    cursor:pointer
}
.list{
    font-size: 25px;
    color:white;
    background-color: rgba(0,0,0,0.4);
    width:400px;
    font-weight: bold;
    text-align: center;
    padding:10px;
    border-radius: 15px;
}
.fa-linkedin{
    padding:0 25px 0 25px
}